header {
    text-align: center;
    margin-top: 100px;
}

.divContainer {
    display: flex;
    padding: 30px;
    justify-content: center;
    color: rgb(255, 255, 255);
}

main div {
    margin: 30px;
    padding: 12px 20px;
    height: 400px;
}

#div1 {
    background-image: url(zuragnuud/model1.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#div2 {
    background-image: url(zuragnuud/model2.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#div3 {
    background-image: url(zuragnuud/model3.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#div1:hover {
    background-image: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(255, 0, 0, 0.26) 31%), url(zuragnuud/model1.webp)
    
}
#div2:hover {
    background-image: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(255, 0, 0, 0.26) 31%), url(zuragnuud/model2.webp)
}
#div3:hover {
    background-image: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(255, 0, 0, 0.26) 31%), url(zuragnuud/model3.webp)
}    
.category {
    color: grey;
    font-size: small;
}
nav a {
    border: solid red 2px;
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    margin-bottom: 40px;
}
