header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
  }
  
  header .menu-left {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  .menu-left nav {
    display: flex;
    gap: 30px;
  }
  
  .menu-left nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .menu-left img {
    width: 100px;
  }
  
  .menu-right {
    display: flex;
    gap: 20px;
  }
  
  .widget {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .widget h4 {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: end;
  }
  .widget-info img {
    width: 20px;
  }
  .widget-info {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .widget-info span {
    font-size: 18px;
    font-weight: bold;
  }
  .dollar {
    color: green;
  }
  main {
    width: 1100px;
    height: 100vh;
    
}

#section1 {
    height: 385px;
    margin-top: 30px;
    display: grid;
    gap: 30px;
    grid-template: 1fr/1fr 1fr;
}

#section1 div {
    border-radius: 10px;
}

.highlightText {
    background: linear-gradient(to right, rgba(201, 201, 201, 0.208), rgb(255, 255, 255));
    padding: 54px 40px;
}

.highlightText button {
    padding: 8px 15px;
    border-radius: 30px;
    font-weight: 600;
    background: linear-gradient(to right, rgb(188, 2, 2), orange);
    color: white;
    border: 0;
    font-size: 12px;
    transition: all 0.2s linear;
}

.highlightText button:hover {
    padding: 8px 20px;
}

.highlightText h5 {
    font-size: 26px;
}

.highlightText p {
    font-size: 12px;
    color: gray;
}

.highlightImgDiv {
    overflow: hidden;
    position: relative;
}

.highlightImg {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#section2 {
    height: 283px;
    margin-top: 30px;
    display: grid;
    gap: 15px;
    grid-template: 1fr/repeat(4, 1fr);
}

#section2 div {
    height: 175px;
}

#section2 .article .imgDiv img{
    height: 175px;
    width: auto;

}

#ad1 {
    height: 283px;
}

#section2 .article p {
    margin-top: 10px;
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif, Arial;
    font-weight: 600;
}